.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.wbk-hflex {
  width: 100%;
  overflow-x: hidden;
}
.wbk-vflex {
  height: 100%;
  overflow-y: hidden;
}
.wbkw-checkbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: inline-block;
}
.wbkw-checkbox > input {
  cursor: pointer;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.wbkw-checkbox > input[disabled] {
  cursor: default;
}
.wbkw-checkbox > label {
  padding-left: 4px;
  vertical-align: middle;
}
.wbkw-checkbox > label[for] {
  cursor: pointer;
}
.wbkw-checkbox.wbk-disabled > label {
  color: #606060;
}
.wbkw-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  overflow-y: auto;
}
.wbkw-list > ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.wbkw-list > ul > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  padding: 3px;
  cursor: pointer;
}
.wbkw-list > ul > li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.wbkw-list > ul > li.wbk-selected {
  background-color: rgba(0, 0, 0, 0.15);
}
.wbkw-list > ul > li:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.wbkw-list.wbk-disabled > ul > li {
  cursor: default;
  color: #606060;
}
.wbkw-list.wbk-disabled > ul > li:hover,
.wbkw-list.wbk-disabled > ul > li :active {
  background-color: inherit;
}
.wbkw-list.wbk-disabled > ul > li.wbk-selected {
  background-color: rgba(0, 0, 0, 0.15);
}
.wbkw-list.dark-bg > ul > li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.wbkw-list.dark-bg > ul > li.wbk-selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.wbkw-list.dark-bg > ul > li:active {
  background-color: rgba(255, 255, 255, 0.3);
}
.wbkw-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.wbkw-box > .wbk-vflex {
  flex: 1;
}
.wbkw-box.wbk-top {
  justify-content: flex-start;
}
.wbkw-box.wbk-middle {
  justify-content: center;
}
.wbkw-box.wbk-bottom {
  justify-content: flex-end;
}
.wbkw-box.wbk-left {
  align-items: flex-start;
}
.wbkw-box.wbk-center {
  align-items: center;
}
.wbkw-box.wbk-right {
  align-items: flex-end;
}
.wbkw-hlayout {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.wbkw-hlayout > .wbkw-hlayout-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.wbkw-hlayout.wbk-top {
  align-items: flex-start;
}
.wbkw-hlayout.wbk-middle {
  align-items: center;
}
.wbkw-hlayout.wbk-bottom {
  align-items: flex-end;
}
.wbkw-hlayout.wbk-left {
  justify-content: flex-start;
}
.wbkw-hlayout.wbk-center {
  justify-content: center;
}
.wbkw-hlayout.wbk-right {
  justify-content: flex-end;
}
.wbkw-hsider {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.wbkw-hsider > .wbkw-box {
  padding-right: 10px;
}
.wbkw-hsider > .wbkw-hsider-bar {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0px;
  right: 0px;
  cursor: col-resize;
}
.wbkw-hsider > .wbkw-hsider-bar:hover {
  background: rgba(0, 0, 0, 0.05);
}
.wbkw-hsider > .wbkw-hsider-bar.wbk-active {
  background: rgba(0, 0, 0, 0.15);
}
.wbkw-vsider {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.wbkw-vsider > .wbkw-box {
  padding-bottom: 10px;
}
.wbkw-vsider > .wbkw-vsider-bar {
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0px;
  bottom: 0px;
  cursor: row-resize;
}
.wbkw-vsider > .wbkw-vsider-bar:hover {
  background: rgba(0, 0, 0, 0.05);
}
.wbkw-vsider > .wbkw-vsider-bar.wbk-active {
  background: rgba(0, 0, 0, 0.15);
}
.wbkw-vlayout {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}
.wbkw-vlayout > .wbkw-vlayout-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.wbkw-vlayout > .wbkw-vlayout-content > .wbk-vflex {
  flex: 1;
}
.wbkw-vlayout.wbk-top {
  justify-content: flex-start;
}
.wbkw-vlayout.wbk-middle {
  justify-content: center;
}
.wbkw-vlayout.wbk-bottom {
  justify-content: flex-end;
}
.wbkw-vlayout.wbk-left {
  align-items: flex-start;
}
.wbkw-vlayout.wbk-center {
  align-items: center;
}
.wbkw-vlayout.wbk-right {
  align-items: flex-end;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: arial, sans-serif;
  color: #333;
}
@media only screen and (min-resolution: 120dpi) {
  html,
  body {
    font-size: 150%;
  }
}
a,
abbr,
button,
h1,
h2,
h3,
h4,
h5,
h6,
label,
p,
small,
span {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
#banner {
  height: 60px;
  padding-left: 1px;
  background: #008BBA;
  color: #EEE;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
#banner .menubtn {
  font-size: 1.5rem;
  cursor: pointer;
  width: 60px;
}
#banner .menubtn:hover {
  background: rgba(255, 255, 255, 0.2);
}
#banner .title {
  padding-left: 6px;
  font-size: 2rem;
}
@media only screen and (min-resolution: 120dpi) {
  #banner {
    height: 100px;
  }
}
#function {
  background: rgba(133, 196, 185, 0.7);
  font-weight: bold;
  width: 180px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-resolution: 120dpi) {
  #function {
    width: 240px;
  }
}
#testContent {
  padding-left: 6;
  padding-top: 4;
  background: rgba(191, 206, 198, 0.2);
}
#footer {
  background: #008BBA;
  color: #EEE;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  height: 36px;
  padding-right: 4px;
}
#footer .fnbtn {
  cursor: pointer;
  width: 36px;
}
#footer .fnbtn:hover {
  background: rgba(255, 255, 255, 0.2);
}
@media only screen and (min-resolution: 120dpi) {
  #footer {
    height: 50px;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=srcmap/all.css.map */
